.benchnine {
    font-family: BenchNine;
}

.futura {
    font-family: Futura;
}

.mx-64 {
    margin-left: 12rem;
    margin-right: 12rem;
}

.text-6xl {
    font-size: 4rem;
}

.american-typewriter {
    font-family: "American Typewriter";
}